#*#
*~
.#*
.*.swp
/_debian
/aclocal.m4
/autom4te.cache
/build-stamp
/build/*
/config.h.in
/configure
/configure.ac
/configure-stamp
Makefile
Makefile.in
TAGS
cscope.*
tags
/config
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
